#accComodos .accordion-item + .accordion-item { margin-top:20px; }


/*numero de plantas*/
.comodo-counter{ 
  background:#61bf50;
  margin-left: 10px; 
  color:#fff; 
  border-radius:10px; 
  padding:2px 8px; 
  font-weight:700; 
  font-size:12px; 
}

/*luminosidade-dentro do comodo*/
.comodo-meta{ 
  color:rgb(20, 83, 62); 
  font-size:14px; 
  font-weight: 800;
  margin-bottom:10px; 
}

/*plantas dentro do comodo*/
.lista-plantas{ 
  display:grid; 
  gap:10px; 
}

/*quando esta vasio-letra */
.comodo-empty{ 
  color:#3c443c; 
  font-style:italic; 
}

/*body de plantas dentro do comodo*/
.comodo-planta-row{ 
  display:flex; 
  align-items:center; 
  gap:10px; 
  padding:10px; 
  border:1px solid rgba(0,0,0,.08); 
  border-radius:10px; 
  background:#61bf50; 

  color: #0b2409;
  font-size: 18px;
  font-weight: 500;
}

/*foto das plantas*/
.planta-thumb{ 
  width:52px; 
  height:52px; 
  object-fit:cover; 
  border-radius:10px; 
}


/*texto de caracteristicas planta*/
.planta-det{ 
  font-size:15px; 
  color:rgb(53, 53, 58); 
}

/* cabeçalho do accordion /titulo dos comodos */
.accordion-button{ 
  background:#87e677; 
  width:732px; 
  border-radius: 5px;
  color:#1c291a; 
  font-weight:800; 
  font-size: 20px;
  box-shadow:none;


}

.accordion-button:not(.collapsed){ 
  background:#2c6522 ; 
  color:#e7e7e7; 
}

.accordion-button:focus{ 
  box-shadow:none; 
}

/* se quiseres que o fundo branco ocupe a largura total */
.accordion-collapse {
  background-color: #ffffff;

}

.accordion-body, .accordion-item {
  width: 732px;
  border-radius: 6px;
}


.btn-addComodo {
  background-color: #87e677;
  border: 3px solid #2c6522;
  border-radius: 30px;
  width: 42px;
  height: 45px;
}

.btn-addPlanta{
  margin-top: 15px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;  
}

.btn-addPlanta:hover {
  transition: transform .15s !important;
}

.btn-addPlanta:hover {
  transform: scale(1.1) !important;
}




#iconeAddPlanta{
  margin-left: -14px;
  margin-top: -9px;
}




/* ICON LIXO/MOVE TITULO DA PLANTA*/
.comodo-planta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #63c256;
  border-radius: 14px;
  padding: 10px 14px;
  margin-bottom: 10px;
}

.comodo-planta-esq {
  display: flex;
  align-items: center;
  gap: 15px;
}

.planta-thumb {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.comodo-planta-acoes {
  display: flex;
  gap: 8px;
}

.btn-acao-comodo {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.btn-acao-comodo svg {
  transition: transform .15s;
}
.btn-acao-comodo:hover svg {
  transform: scale(1.12);
}



/* ICON LIXO TITULO DO COMODO*/
.btn-acao-comodo-comodo {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.btn-acao-comodo-comodo svg {
  transition: transform .15s;
}

.btn-acao-comodo-comodo:hover svg {
  transform: scale(1.1);
}

/*-------------------------------------------------------*/
/* modalConfirmarRemoverComodo - MODAL CONFIRMAR REMOVER COMODO */
/*-------------------------------------------------------*/

#modalConfirmarRemoverComodo .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalConfirmarRemoverComodo .modal-dialog{
  margin-left: 295px;    
  margin-top: 250px;
}

/*--------------------------------------------------------------*/
/*modalComodoRemovido            - MODAL SUCESSO REMOÇAO comodo */
/*--------------------------------------------------/-----------*/

#modalComodoRemovido .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalComodoRemovido .modal-dialog{
  margin-left: 295px;    
  margin-top: 250px;
}

/*--------------------------------------------------------------------------*/
/*modalConfirmarRemoverPlantaComodo            - MODAL confi REMOÇAO planta */
/*--------------------------------------------------------------------------*/

#modalConfirmarRemoverPlantaComodo  .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalConfirmarRemoverPlantaComodo  .modal-dialog{
  margin-left: 295px;    
  margin-top: 250px;
}

/*-------------------------------------------------------------*/
/*modalPlantaRemovidaComodo      - MODAL SUCESSO REMOÇAO planta*/
/*------------------------------------------------------------*/

#modalPlantaRemovidaComodo .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalPlantaRemovidaComodo .modal-dialog{
  margin-left: 295px;    
  margin-top: 250px;
}

/*-------------------------------------------------------------*/
/*modalComodoAdicionado                                       */
/*------------------------------------------------------------*/

#modalComodoAdicionado .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalComodoAdicionado .modal-dialog{
  margin-left: 250px;    
}


/*-------------------------------------------------------------*/
/*modalAddComodo                                      */
/*------------------------------------------------------------*/

#modalAddComodo .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalAddComodo .modal-dialog{
  margin-left: 250px;    
  margin-top: 140px;
}
#comodosDisponiveis{
  display: grid !important;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;                             
  justify-items: center;                 
  align-items: center;
  padding: 10px; 

}


/*-------------------------------------------*/
/* modalTrocarPlantaDeComodo
/*-------------------------------------------*/
#modalTrocarPlantaDeComodo
 .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
  
}

#modalTrocarPlantaDeComodo
 .modal-title {
  font-weight: 700;
}

#modalTrocarPlantaDeComodo .modal-dialog {
  margin-left: 250px;    
}

/*-------------------------------------------*/
/* modalConfirmarAdicionarComodo
/*-------------------------------------------*/

#modalConfirmarAdicionarComodo .modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #3a963d; /* verde principal */
  box-shadow: 0 0 20px rgba(0, 100, 0, 0.15);
}

#modalConfirmarAdicionarComodo .modal-dialog{
  margin-left: 295px;    
}



/*#4aa53e*/

/*-----------------------------------------------------------------------------*/
/* Área dos cómodos no modal "Mover planta para outro cômodo" */

#comodosDisponiveis {
  justify-content: center;
  gap: 0.9rem;
}

/* Cartão do cómodo no modal "Mover planta para outro cômodo" */
.card_comodos_disponiveis {
  background: #3ca345;              
  border-radius: 18px;
  border: none;
  padding: 0.7rem 0.9rem;

  min-width: 130px;
  min-height: 85px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #102815;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
  cursor: pointer;

  position: relative;
  overflow: hidden;

  transition:
    transform 0.15s ease-out,
    box-shadow 0.15s ease-out,
    background 0.2s ease-out;
}

/* Nome do cómodo */
.card_comodos_disponiveis p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 650;
  color: #ffffff;
}

.card_comodos_disponiveis:hover,
.card_comodos_disponiveis:focus-visible {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.22);
  background: #37943f;
  outline: none;
}



.comodo-planta-row {
    cursor: pointer;
}

.comodo-planta-esq:hover {
    filter: brightness(0.95);
    transition: 0.2s;
}

.comodo-planta-row:hover {
    background-color: #8df18d;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}



.planta-doente {
  border: 2px solid rgb(209, 69, 69) !important;
  background-color: rgba(255, 0, 0, 0.404);
}


.planta-doente:hover {
  border: 2px solid rgb(255, 77, 77) !important;
  background-color: rgba(255, 53, 53, 0.404);
}
